html, body {
    height: 100%;
    font-family: monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid pink;
}

.audioPlayer {
    box-shadow: 0 0 32px 4px rgba(0,0,0,0.2);
    width: 600px;
    display: flex;
    border: 1px solid rgb(96, 138, 96);

    canvas {
        flex: 2;
        width: 100%;
        background-color: black;
    } 

    .playlist {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid red;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,115,40,1) 99%, rgba(0,212,255,1) 99%);
    }

}